In [3]:
import pandas as pd
File1=pd.read_json(r"C:\Users\chaitanya\tournament_1.json")
File1.head()

,name,start_date,end_date,games,tours,time_control
tour_1,tournament_1,2014-01-08,2014-01-17,"[{'white': '贾叶珍', 'black': '范辰妮', 'date': '201...",9,rapid
tour_2,tournament_1,2014-01-08,2014-01-17,"[{'white': '曹灵缨', 'black': '陆桂姐', 'date': '201...",9,rapid
tour_3,tournament_1,2014-01-08,2014-01-17,"[{'white': '刘家坚', 'black': '沈岚鸿', 'date': '201...",9,rapid
tour_4,tournament_1,2014-01-08,2014-01-17,"[{'white': '沈岚鸿', 'black': '李文子', 'date': '201...",9,rapid
tour_5,tournament_1,2014-01-08,2014-01-17,"[{'white': '范存妞', 'black': '沈岚鸿', 'date': '201...",9,rapid

In [33]:
import pandas as pd

# Step 1: Specify the URL to the raw JSON file
url = 'https://github.com/SunilGorantla/QT_Batch_0011/raw/main/Machine_Learning/datasets/chess/train/tournament_1.json'

# Step 2: Read the JSON file from the URL into a pandas DataFrame
data = pd.read_json(url)

# Step 3: Display the first few rows of the DataFrame
print(data.head())

                name  start_date    end_date  \
tour_1  tournament_1  2014-01-08  2014-01-17
tour_2  tournament_1  2014-01-08  2014-01-17
tour_3  tournament_1  2014-01-08  2014-01-17
tour_4  tournament_1  2014-01-08  2014-01-17
tour_5  tournament_1  2014-01-08  2014-01-17

                                                    games  tours time_control
tour_1  [{'white': '贾叶珍', 'black': '范辰妮', 'date': '201...      9        rapid
tour_2  [{'white': '曹灵缨', 'black': '陆桂姐', 'date': '201...      9        rapid
tour_3  [{'white': '刘家坚', 'black': '沈岚鸿', 'date': '201...      9        rapid
tour_4  [{'white': '沈岚鸿', 'black': '李文子', 'date': '201...      9        rapid
tour_5  [{'white': '范存妞', 'black': '沈岚鸿', 'date': '201...      9        rapid

In [37]:
import pandas as pd

# Step 1: Base URL for the JSON files
base_url = 'https://github.com/SunilGorantla/QT_Batch_0011/raw/main/Machine_Learning/datasets/chess/train'

# Step 2: List of JSON filenames to be read
file_names = [
    'tournament_1.json',
    'tournament_10.json',
    'tournament_100.json'
]

# Step 3: Initialize an empty list to store DataFrames
dfs = []

# Step 4: Loop through the file names, read each file, and append to the list
for file_name in file_names:
    file_url = f"{base_url}/{file_name}"
    df = pd.read_json(file_url)
    dfs.append(df)

# Step 5: Concatenate all DataFrames into a single DataFrame
combined_df = pd.concat(dfs, ignore_index=True)

# Step 6: Display the first few rows of the combined DataFrame
print(combined_df.head(100))

              name  start_date    end_date  \
0     tournament_1  2014-01-08  2014-01-17
1     tournament_1  2014-01-08  2014-01-17
2     tournament_1  2014-01-08  2014-01-17
3     tournament_1  2014-01-08  2014-01-17
4     tournament_1  2014-01-08  2014-01-17
5     tournament_1  2014-01-08  2014-01-17
6     tournament_1  2014-01-08  2014-01-17
7     tournament_1  2014-01-08  2014-01-17
8     tournament_1  2014-01-08  2014-01-17
9    tournament_10  2014-01-15  2014-02-08
10   tournament_10  2014-01-15  2014-02-08
11   tournament_10  2014-01-15  2014-02-08
12   tournament_10  2014-01-15  2014-02-08
13   tournament_10  2014-01-15  2014-02-08
14   tournament_10  2014-01-15  2014-02-08
15   tournament_10  2014-01-15  2014-02-08
16   tournament_10  2014-01-15  2014-02-08
17   tournament_10  2014-01-15  2014-02-08
18   tournament_10  2014-01-15  2014-02-08
19   tournament_10  2014-01-15  2014-02-08
20   tournament_10  2014-01-15  2014-02-08
21  tournament_100  2014-08-29  2014-09-22
22  tournament_100  2014-08-29  2014-09-22
23  tournament_100  2014-08-29  2014-09-22
24  tournament_100  2014-08-29  2014-09-22
25  tournament_100  2014-08-29  2014-09-22
26  tournament_100  2014-08-29  2014-09-22
27  tournament_100  2014-08-29  2014-09-22
28  tournament_100  2014-08-29  2014-09-22
29  tournament_100  2014-08-29  2014-09-22
30  tournament_100  2014-08-29  2014-09-22
31  tournament_100  2014-08-29  2014-09-22
32  tournament_100  2014-08-29  2014-09-22

                                                games  tours time_control
0   [{'white': '贾叶珍', 'black': '范辰妮', 'date': '201...      9        rapid
1   [{'white': '曹灵缨', 'black': '陆桂姐', 'date': '201...      9        rapid
2   [{'white': '刘家坚', 'black': '沈岚鸿', 'date': '201...      9        rapid
3   [{'white': '沈岚鸿', 'black': '李文子', 'date': '201...      9        rapid
4   [{'white': '范存妞', 'black': '沈岚鸿', 'date': '201...      9        rapid
5   [{'white': '沈岚鸿', 'black': '毛均承', 'date': '201...      9        rapid
6   [{'white': '梁良', 'black': '沈岚鸿', 'date': '2014...      9        rapid
7   [{'white': '沈岚鸿', 'black': '李守超', 'date': '201...      9        rapid
8   [{'white': '张志琼', 'black': '沈岚鸿', 'date': '201...      9        rapid
9   [{'white': 'Liang, Qing', 'black': 'Tian, Xion...     12        rapid
10  [{'white': 'Wang, Jianyao', 'black': 'Wei, Min...     12        rapid
11  [{'white': 'Li, Minkang', 'black': 'Wang, Jian...     12        rapid
12  [{'white': 'Wang, Jianyao', 'black': 'Huang, M...     12        rapid
13  [{'white': 'Xu, Xiaozhi', 'black': 'Wang, Jian...     12        rapid
14  [{'white': 'Wang, Jianyao', 'black': 'Jiang, D...     12        rapid
15  [{'white': 'Huang, Mengli', 'black': 'Chen, Yu...     12        rapid
16  [{'white': 'Liang, Shujun', 'black': 'Huang, M...     12        rapid
17  [{'white': 'Huang, Mengli', 'black': 'Song, Ze...     12        rapid
18  [{'white': 'Wang, Dian', 'black': 'Huang, Meng...     12        rapid
19  [{'white': 'Huang, Mengli', 'black': 'Zhu, Qin...     12        rapid
20  [{'white': 'Li, Hai', 'black': 'Huang, Mengli'...     12        rapid
21  [{'white': '郝华琳', 'black': '王剑妹', 'date': '201...     12      classic
22  [{'white': '李秀寿', 'black': '蔡玉雪', 'date': '201...     12      classic
23  [{'white': '刘碧艳', 'black': '彭国', 'date': '2014...     12      classic
24  [{'white': '章泽', 'black': '梁梅强', 'date': '2014...     12      classic
25  [{'white': '梁梅强', 'black': '彭国', 'date': '2014...     12      classic
26  [{'white': '赵晋耕', 'black': '梁梅强', 'date': '201...     12      classic
27  [{'white': '梁梅强', 'black': '王剑妹', 'date': '201...     12      classic
28  [{'white': '王剑妹', 'black': '贾烨广', 'date': '201...     12      classic
29  [{'white': '贾烨广', 'black': '李利平', 'date': '201...     12      classic
30  [{'white': '李利平', 'black': '梁梅强', 'date': '201...     12      classic
31  [{'white': '梁梅强', 'black': '顾加军', 'date': '201...     12      classic
32  [{'white': '顾加军', 'black': '孙义敏', 'date': '201...     12      classic

In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

# Step 1: Specify the URL to the GitHub directory
base_url = 'https://github.com/SunilGorantla/QT_Batch_0011/raw/main/Machine_Learning/datasets/chess/train'
directory_url = 'https://github.com/SunilGorantla/QT_Batch_0011/tree/main/Machine_Learning/datasets/chess/train'

# Step 2: Get the directory page content
response = requests.get(directory_url)
soup = BeautifulSoup(response.text, 'html.parser')

# Step 3: Extract all JSON file links from the page
json_files = []
for link in soup.find_all('a', href=True):
    if link['href'].endswith('.json'):
        file_url = base_url + '/' + link['href'].split('/')[-1]
        json_files.append(file_url)

# Step 4: Initialize an empty list to store DataFrames
dfs = []

# Step 5: Loop through the list of JSON file URLs, read them, and append to the list
for file_url in json_files:
    df = pd.read_json(file_url)
    dfs.append(df)

# Step 6: Concatenate all DataFrames into a single DataFrame
combined_df = pd.concat(dfs, ignore_index=True)

# Step 7: Display the first few rows of the combined DataFrame
print(combined_df.head())

ValueError: No objects to concatenate

In [3]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

# Step 1: Set the directory URL where the JSON files are located
directory_url = 'https://github.com/SunilGorantla/QT_Batch_0011/tree/main/Machine_Learning/datasets/chess/train'
base_url = 'https://github.com/SunilGorantla/QT_Batch_0011/raw/main/Machine_Learning/datasets/chess/train'

# Step 2: Get the HTML content of the directory page
response = requests.get(directory_url)
soup = BeautifulSoup(response.text, 'html.parser')

# Step 3: Extract all JSON file links from the page
json_files = []
for link in soup.find_all('a', href=True):
    if link['href'].endswith('.json'):
        json_files.append(link['href'].split('/')[-1])

# Step 4: Initialize an empty list to store DataFrames
dfs = []

# Step 5: Loop through the list of JSON filenames, read them, and append to the list
for json_file in json_files:
    file_url = f"{base_url}/{json_file}"
    df = pd.read_json(file_url)
    dfs.append(df)

# Step 6: Concatenate all DataFrames into a single DataFrame
combined_df = pd.concat(dfs, ignore_index=True)

# Step 7: Display the first few rows of the combined DataFrame
print(combined_df.head())

           name  start_date    end_date  \
0  tournament_1  2014-01-08  2014-01-17
1  tournament_1  2014-01-08  2014-01-17
2  tournament_1  2014-01-08  2014-01-17
3  tournament_1  2014-01-08  2014-01-17
4  tournament_1  2014-01-08  2014-01-17

                                               games  tours time_control
0  [{'white': '贾叶珍', 'black': '范辰妮', 'date': '201...      9        rapid
1  [{'white': '曹灵缨', 'black': '陆桂姐', 'date': '201...      9        rapid
2  [{'white': '刘家坚', 'black': '沈岚鸿', 'date': '201...      9        rapid
3  [{'white': '沈岚鸿', 'black': '李文子', 'date': '201...      9        rapid
4  [{'white': '范存妞', 'black': '沈岚鸿', 'date': '201...      9        rapid

In [7]:
import pandas as pd

# Assuming final_df is already created and contains data

# Define the file path where you want to save the CSV file
file_path = r'F:\jupyter\json1.csv'

# Save the DataFrame to a CSV file
combined_df.to_csv(file_path, index=False)

print(f"DataFrame has been saved to {file_path}")

DataFrame has been saved to F:\jupyter\json1.csv

In [49]:
import requests
from bs4 import BeautifulSoup

# Step 1: Set the URL of the GitHub directory
directory_url = 'https://github.com/SunilGorantla/QT_Batch_0011/tree/main/Machine_Learning/datasets/chess/train'

# Step 2: Send a request to the GitHub directory page
response = requests.get(directory_url)
soup = BeautifulSoup(response.text, 'html.parser')

# Step 3: Find all links on the page
file_names = []
for link in soup.find_all('a', href=True):
    href = link['href']
    if href.endswith('.json'):  # Check if the link is a JSON file
        file_name = href.split('/')[-1]  # Extract the file name from the URL
        file_names.append(file_name)

# Step 4: Print the list of JSON filenames
print(file_names)

['tournament_1.json', 'tournament_1.json', 'tournament_10.json', 'tournament_10.json', 'tournament_100.json', 'tournament_100.json', 'tournament_101.json', 'tournament_101.json', 'tournament_102.json', 'tournament_102.json', 'tournament_103.json', 'tournament_103.json', 'tournament_104.json', 'tournament_104.json', 'tournament_105.json', 'tournament_105.json', 'tournament_106.json', 'tournament_106.json', 'tournament_107.json', 'tournament_107.json', 'tournament_108.json', 'tournament_108.json', 'tournament_109.json', 'tournament_109.json', 'tournament_11.json', 'tournament_11.json', 'tournament_110.json', 'tournament_110.json', 'tournament_111.json', 'tournament_111.json', 'tournament_112.json', 'tournament_112.json', 'tournament_113.json', 'tournament_113.json', 'tournament_114.json', 'tournament_114.json', 'tournament_115.json', 'tournament_115.json', 'tournament_116.json', 'tournament_116.json', 'tournament_117.json', 'tournament_117.json', 'tournament_118.json', 'tournament_118.json', 'tournament_119.json', 'tournament_119.json', 'tournament_12.json', 'tournament_12.json', 'tournament_120.json', 'tournament_120.json', 'tournament_121.json', 'tournament_121.json', 'tournament_122.json', 'tournament_122.json', 'tournament_123.json', 'tournament_123.json', 'tournament_124.json', 'tournament_124.json', 'tournament_125.json', 'tournament_125.json', 'tournament_126.json', 'tournament_126.json', 'tournament_127.json', 'tournament_127.json', 'tournament_128.json', 'tournament_128.json', 'tournament_129.json', 'tournament_129.json', 'tournament_13.json', 'tournament_13.json', 'tournament_130.json', 'tournament_130.json', 'tournament_131.json', 'tournament_131.json', 'tournament_132.json', 'tournament_132.json', 'tournament_133.json', 'tournament_133.json', 'tournament_134.json', 'tournament_134.json', 'tournament_135.json', 'tournament_135.json', 'tournament_136.json', 'tournament_136.json', 'tournament_137.json', 'tournament_137.json', 'tournament_138.json', 'tournament_138.json', 'tournament_139.json', 'tournament_139.json', 'tournament_14.json', 'tournament_14.json', 'tournament_140.json', 'tournament_140.json', 'tournament_141.json', 'tournament_141.json', 'tournament_142.json', 'tournament_142.json', 'tournament_143.json', 'tournament_143.json', 'tournament_144.json', 'tournament_144.json', 'tournament_145.json', 'tournament_145.json', 'tournament_146.json', 'tournament_146.json', 'tournament_147.json', 'tournament_147.json', 'tournament_148.json', 'tournament_148.json', 'tournament_149.json', 'tournament_149.json', 'tournament_15.json', 'tournament_15.json', 'tournament_150.json', 'tournament_150.json', 'tournament_151.json', 'tournament_151.json', 'tournament_152.json', 'tournament_152.json', 'tournament_153.json', 'tournament_153.json', 'tournament_154.json', 'tournament_154.json', 'tournament_155.json', 'tournament_155.json', 'tournament_156.json', 'tournament_156.json', 'tournament_157.json', 'tournament_157.json', 'tournament_158.json', 'tournament_158.json', 'tournament_159.json', 'tournament_159.json', 'tournament_16.json', 'tournament_16.json', 'tournament_160.json', 'tournament_160.json', 'tournament_161.json', 'tournament_161.json', 'tournament_162.json', 'tournament_162.json', 'tournament_163.json', 'tournament_163.json', 'tournament_164.json', 'tournament_164.json', 'tournament_165.json', 'tournament_165.json', 'tournament_166.json', 'tournament_166.json', 'tournament_167.json', 'tournament_167.json', 'tournament_168.json', 'tournament_168.json', 'tournament_169.json', 'tournament_169.json', 'tournament_17.json', 'tournament_17.json', 'tournament_170.json', 'tournament_170.json', 'tournament_171.json', 'tournament_171.json', 'tournament_172.json', 'tournament_172.json', 'tournament_173.json', 'tournament_173.json', 'tournament_174.json', 'tournament_174.json', 'tournament_175.json', 'tournament_175.json', 'tournament_176.json', 'tournament_176.json', 'tournament_177.json', 'tournament_177.json', 'tournament_178.json', 'tournament_178.json', 'tournament_179.json', 'tournament_179.json', 'tournament_18.json', 'tournament_18.json', 'tournament_180.json', 'tournament_180.json', 'tournament_181.json', 'tournament_181.json', 'tournament_182.json', 'tournament_182.json', 'tournament_183.json', 'tournament_183.json', 'tournament_184.json', 'tournament_184.json', 'tournament_185.json', 'tournament_185.json', 'tournament_186.json', 'tournament_186.json', 'tournament_187.json', 'tournament_187.json', 'tournament_188.json', 'tournament_188.json', 'tournament_189.json', 'tournament_189.json']

In [68]:
import pandas as pd

# Step 1: Base URL for the JSON files
base_url = 'https://github.com/SunilGorantla/QT_Batch_0011/raw/main/Machine_Learning/datasets/chess/train'

# Step 2: List of JSON filenames to be read
file_names = [
   'tournament_1.json', 'tournament_1.json', 'tournament_10.json', 'tournament_10.json', 'tournament_100.json', 'tournament_100.json', 
    'tournament_101.json', 'tournament_101.json', 'tournament_102.json', 'tournament_102.json', 'tournament_103.json', 'tournament_103.json',
    'tournament_104.json', 'tournament_104.json', 'tournament_105.json', 'tournament_105.json', 'tournament_106.json', 'tournament_106.json', 
    'tournament_107.json', 'tournament_107.json', 'tournament_108.json', 'tournament_108.json', 'tournament_109.json', 'tournament_109.json',
    'tournament_11.json', 'tournament_11.json', 'tournament_110.json', 'tournament_110.json', 'tournament_111.json', 'tournament_111.json',
    'tournament_112.json', 'tournament_112.json', 'tournament_113.json', 'tournament_113.json', 'tournament_114.json', 'tournament_114.json', 
    'tournament_115.json', 'tournament_115.json', 'tournament_116.json', 'tournament_116.json', 'tournament_117.json', 'tournament_117.json',
    'tournament_118.json', 'tournament_118.json', 'tournament_119.json', 'tournament_119.json', 'tournament_12.json', 'tournament_12.json',
    'tournament_120.json', 'tournament_120.json', 'tournament_121.json', 'tournament_121.json', 'tournament_122.json', 'tournament_122.json', 
    'tournament_123.json', 'tournament_123.json', 'tournament_124.json', 'tournament_124.json', 'tournament_125.json', 'tournament_125.json', 
    'tournament_126.json', 'tournament_126.json', 'tournament_127.json', 'tournament_127.json', 'tournament_128.json', 'tournament_128.json', 
    'tournament_129.json', 'tournament_129.json', 'tournament_13.json', 'tournament_13.json', 'tournament_130.json', 'tournament_130.json', 
    'tournament_131.json', 'tournament_131.json', 'tournament_132.json', 'tournament_132.json', 'tournament_133.json', 'tournament_133.json',
    'tournament_134.json', 'tournament_134.json', 'tournament_135.json', 'tournament_135.json', 'tournament_136.json', 'tournament_136.json',
    'tournament_137.json', 'tournament_137.json', 'tournament_138.json', 'tournament_138.json', 'tournament_139.json', 'tournament_139.json',
    'tournament_14.json', 'tournament_14.json', 'tournament_140.json', 'tournament_140.json', 'tournament_141.json', 'tournament_141.json',
    'tournament_142.json', 'tournament_142.json', 'tournament_143.json', 'tournament_143.json', 'tournament_144.json', 'tournament_144.json', 
    'tournament_145.json', 'tournament_145.json', 'tournament_146.json', 'tournament_146.json', 'tournament_147.json', 'tournament_147.json',
    'tournament_148.json', 'tournament_148.json', 'tournament_149.json', 'tournament_149.json', 'tournament_15.json', 'tournament_15.json',
    'tournament_150.json', 'tournament_150.json', 'tournament_151.json', 'tournament_151.json', 'tournament_152.json', 'tournament_152.json',
    'tournament_153.json', 'tournament_153.json', 'tournament_154.json', 'tournament_154.json', 'tournament_155.json', 'tournament_155.json', 
    'tournament_156.json', 'tournament_156.json', 'tournament_157.json', 'tournament_157.json', 'tournament_158.json', 'tournament_158.json', 
    'tournament_159.json', 'tournament_159.json', 'tournament_16.json', 'tournament_16.json', 'tournament_160.json', 'tournament_160.json',
    'tournament_161.json', 'tournament_161.json', 'tournament_162.json', 'tournament_162.json', 'tournament_163.json', 'tournament_163.json',
    'tournament_164.json', 'tournament_164.json', 'tournament_165.json', 'tournament_165.json', 'tournament_166.json', 'tournament_166.json', 
    'tournament_167.json', 'tournament_167.json', 'tournament_168.json', 'tournament_168.json', 'tournament_169.json', 'tournament_169.json', 
    'tournament_17.json', 'tournament_17.json', 'tournament_170.json', 'tournament_170.json', 'tournament_171.json', 'tournament_171.json', 
    'tournament_172.json', 'tournament_172.json', 'tournament_173.json', 'tournament_173.json', 'tournament_174.json', 'tournament_174.json',
    'tournament_175.json', 'tournament_175.json', 'tournament_176.json', 'tournament_176.json', 'tournament_177.json', 'tournament_177.json',
    'tournament_178.json', 'tournament_178.json', 'tournament_179.json', 'tournament_179.json', 'tournament_18.json', 'tournament_18.json',
    'tournament_180.json', 'tournament_180.json', 'tournament_181.json', 'tournament_181.json', 'tournament_182.json', 'tournament_182.json',
    'tournament_183.json', 'tournament_183.json', 'tournament_184.json', 'tournament_184.json', 'tournament_185.json', 'tournament_185.json',
    'tournament_186.json', 'tournament_186.json', 'tournament_187.json','tournament_189.json', 'tournament_189.json','tournament_187.json',
     'tournament_188.json', 'tournament_188.json', 
]

# Step 3: Initialize an empty list to store DataFrames
dfs = []

# Step 4: Loop through the file names, read each file, and append to the list
for file_name in file_names:
    file_url = f"{base_url}/{file_name}"
    df = pd.read_json(file_url)
    dfs.append(df)

# Step 5: Concatenate all DataFrames into a single DataFrame
combined_df = pd.concat(dfs, ignore_index=True)

# Step 6: Display the first few rows of the combined DataFrame
print(combined_df.head(1000))

               name  start_date    end_date  \
0      tournament_1  2014-01-08  2014-01-17
1      tournament_1  2014-01-08  2014-01-17
2      tournament_1  2014-01-08  2014-01-17
3      tournament_1  2014-01-08  2014-01-17
4      tournament_1  2014-01-08  2014-01-17
..              ...         ...         ...
995  tournament_145  2015-01-24  2015-02-05
996  tournament_145  2015-01-24  2015-02-05
997  tournament_145  2015-01-24  2015-02-05
998  tournament_145  2015-01-24  2015-02-05
999  tournament_145  2015-01-24  2015-02-05

                                                 games  tours time_control
0    [{'white': '贾叶珍', 'black': '范辰妮', 'date': '201...      9        rapid
1    [{'white': '曹灵缨', 'black': '陆桂姐', 'date': '201...      9        rapid
2    [{'white': '刘家坚', 'black': '沈岚鸿', 'date': '201...      9        rapid
3    [{'white': '沈岚鸿', 'black': '李文子', 'date': '201...      9        rapid
4    [{'white': '范存妞', 'black': '沈岚鸿', 'date': '201...      9        rapid
..                                                 ...    ...          ...
995  [{'white': 'Cao, Tingyun', 'black': 'Duan, Lij...     12      classic
996  [{'white': 'Liang, Sipei', 'black': 'Yang, Sha...     12      classic
997  [{'white': 'Yang, Peicha', 'black': 'Liang, Si...     12      classic
998  [{'white': 'Liang, Sipei', 'black': 'Qi, Huizh...     12      classic
999  [{'white': 'Wang, Jianming', 'black': 'Liang, ...     12      classic

[1000 rows x 6 columns]

In [80]:
!pip install polars
!pip install requests polars

Requirement already satisfied: polars in c:\users\chaitanya\anaconda3\lib\site-packages (1.5.0)
Requirement already satisfied: requests in c:\users\chaitanya\anaconda3\lib\site-packages (2.32.2)
Requirement already satisfied: polars in c:\users\chaitanya\anaconda3\lib\site-packages (1.5.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\chaitanya\anaconda3\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\chaitanya\anaconda3\lib\site-packages (from requests) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\chaitanya\anaconda3\lib\site-packages (from requests) (2.2.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\chaitanya\anaconda3\lib\site-packages (from requests) (2024.7.4)

In [74]:
import pandas as pd

# Step 1: Base URL for the JSON files
base_url = 'https://github.com/SunilGorantla/QT_Batch_0011/raw/main/Machine_Learning/datasets/chess/train'

# Step 2: List of JSON filenames to be read
file_names = [
     'tournament_1.json', 'tournament_1.json', 'tournament_10.json', 'tournament_10.json', 'tournament_100.json', 'tournament_100.json', 
    'tournament_101.json', 'tournament_101.json', 'tournament_102.json', 'tournament_102.json', 'tournament_103.json', 'tournament_103.json',
]

# Step 3: Initialize an empty list to store DataFrames
dfs = []

# Step 4: Loop through the file names, read each file, and append to the list
for file_name in file_names:
    file_url = f"{base_url}/{file_name}"
    df = pd.read_json(file_url)
    dfs.append(df)

# Step 5: Concatenate all DataFrames into a single DataFrame
combined_df = pd.concat(dfs, ignore_index=True)

# Step 6: Display the first few rows of the combined DataFrame
print(combined_df.head(1000))

               name  start_date    end_date  \
0      tournament_1  2014-01-08  2014-01-17
1      tournament_1  2014-01-08  2014-01-17
2      tournament_1  2014-01-08  2014-01-17
3      tournament_1  2014-01-08  2014-01-17
4      tournament_1  2014-01-08  2014-01-17
..              ...         ...         ...
125  tournament_103  2014-09-08  2014-09-08
126  tournament_103  2014-09-08  2014-09-08
127  tournament_103  2014-09-08  2014-09-08
128  tournament_103  2014-09-08  2014-09-08
129  tournament_103  2014-09-08  2014-09-08

                                                 games  tours time_control
0    [{'white': '贾叶珍', 'black': '范辰妮', 'date': '201...      9        rapid
1    [{'white': '曹灵缨', 'black': '陆桂姐', 'date': '201...      9        rapid
2    [{'white': '刘家坚', 'black': '沈岚鸿', 'date': '201...      9        rapid
3    [{'white': '沈岚鸿', 'black': '李文子', 'date': '201...      9        rapid
4    [{'white': '范存妞', 'black': '沈岚鸿', 'date': '201...      9        rapid
..                                                 ...    ...          ...
125  [{'white': '秦志', 'black': '冯燕家', 'date': '2014...     12      classic
126  [{'white': '王小生', 'black': '范元', 'date': '2014...     12      classic
127  [{'white': '范元', 'black': '林康俊', 'date': '2014...     12      classic
128  [{'white': '王小生', 'black': '杨灵', 'date': '2014...     12      classic
129  [{'white': '杨灵', 'black': '谢亮良', 'date': '2014...     12      classic

[130 rows x 6 columns]

In [109]:

combined_df['tours'].head(1)

0    9
Name: tours, dtype: int64

In [105]:
combined_df.columns

Index(['name', 'start_date', 'end_date', 'games', 'tours', 'time_control'], dtype='object')

In [113]:
import pandas as pd

# Step 1: Base URL for the JSON files
base_url = 'https://github.com/SunilGorantla/QT_Batch_0011/raw/main/Machine_Learning/datasets/chess/train'

# Step 2: List of JSON filenames to be read
file_names = [
    'tournament_1.json', 'tournament_1.json', 'tournament_10.json', 'tournament_10.json', 'tournament_100.json', 'tournament_100.json', 
    'tournament_101.json', 'tournament_101.json', 'tournament_102.json', 'tournament_102.json', 'tournament_103.json', 'tournament_103.json',
]

# Step 3: Initialize an empty list to store DataFrames
dfs = []

# Step 4: Loop through the file names, read each file, and append to the list
for file_name in file_names:
    file_url = f"{base_url}/{file_name}"
    df = pd.read_json(file_url)
    dfs.append(df)

# Step 5: Concatenate all DataFrames into a single DataFrame
combined_df = pd.concat(dfs, ignore_index=True)

# Step 6: Retrieve and print one record from the DataFrame
record_index = 0  # Index of the record you want to retrieve
record = combined_df.iloc[record_index]  # Retrieve the record

# Print the column names and values
print("Column Names and Values for Record at Index", record_index)
for column_name, value in record.items():
    print(f"{column_name}: {value}")

Column Names and Values for Record at Index 0
name: tournament_1
start_date: 2014-01-08
end_date: 2014-01-17
games: [{'white': '贾叶珍', 'black': '范辰妮', 'date': '2014-01-08', 'result': 0.5, 'id': 'tournament_1_1'}, {'white': '吕亚光', 'black': '李嘉爵', 'date': '2014-01-08', 'result': 0.5, 'id': 'tournament_1_2'}, {'white': '刘奇喜', 'black': '刘晓鹏', 'date': '2014-01-08', 'result': 0.5, 'id': 'tournament_1_3'}, {'white': '陆桂姐', 'black': '郑新聪', 'date': '2014-01-08', 'result': 1, 'id': 'tournament_1_4'}, {'white': '李汶玲', 'black': '叶天英', 'date': '2014-01-08', 'result': 0.5, 'id': 'tournament_1_5'}, {'white': '薛冠', 'black': '杨钰', 'date': '2014-01-08', 'result': 0.5, 'id': 'tournament_1_6'}, {'white': '冯燕家', 'black': '曹灵缨', 'date': '2014-01-08', 'result': 0, 'id': 'tournament_1_7'}, {'white': '刘家坚', 'black': '齐慧智', 'date': '2014-01-08', 'result': 1, 'id': 'tournament_1_8'}, {'white': '张志琼', 'black': '吴秋', 'date': '2014-01-08', 'result': 1, 'id': 'tournament_1_9'}, {'white': '徐先广', 'black': '吴昱明', 'date': '2014-01-08', 'result': 1, 'id': 'tournament_1_10'}, {'white': '杨佩义', 'black': '王由航', 'date': '2014-01-08', 'result': 0, 'id': 'tournament_1_11'}, {'white': '王永赟', 'black': '方东', 'date': '2014-01-08', 'result': 0.5, 'id': 'tournament_1_12'}, {'white': '刘宇福', 'black': '朱有荣', 'date': '2014-01-08', 'result': 1, 'id': 'tournament_1_13'}, {'white': '杨莎强', 'black': '余冬春', 'date': '2014-01-08', 'result': 0.5, 'id': 'tournament_1_14'}, {'white': '孟芳全', 'black': '阎斯钧', 'date': '2014-01-08', 'result': 0.5, 'id': 'tournament_1_15'}, {'white': '钟弘存', 'black': '张半植', 'date': '2014-01-08', 'result': 0.5, 'id': 'tournament_1_16'}, {'white': '范存妞', 'black': '何建芝', 'date': '2014-01-08', 'result': 1, 'id': 'tournament_1_17'}, {'white': '李琳华', 'black': '毛心磊', 'date': '2014-01-08', 'result': 0, 'id': 'tournament_1_18'}, {'white': '袁小昆', 'black': '董玉波', 'date': '2014-01-08', 'result': 0.5, 'id': 'tournament_1_19'}, {'white': '李文子', 'black': '何驿艳', 'date': '2014-01-08', 'result': 1, 'id': 'tournament_1_20'}, {'white': '刘先', 'black': '梁扬', 'date': '2014-01-08', 'result': 1, 'id': 'tournament_1_21'}, {'white': '杨燕波', 'black': '袁宪萍', 'date': '2014-01-08', 'result': 0.5, 'id': 'tournament_1_22'}, {'white': '陈思刚', 'black': '刘星梅', 'date': '2014-01-08', 'result': 0.5, 'id': 'tournament_1_23'}, {'white': '张延营', 'black': '张燕', 'date': '2014-01-08', 'result': 1, 'id': 'tournament_1_24'}, {'white': '张安甜', 'black': '张木兴', 'date': '2014-01-08', 'result': 1, 'id': 'tournament_1_25'}, {'white': '李松江', 'black': '王千迅', 'date': '2014-01-08', 'result': 1, 'id': 'tournament_1_26'}, {'white': '梁良', 'black': '殷小', 'date': '2014-01-08', 'result': 1, 'id': 'tournament_1_27'}, {'white': '董海非', 'black': '魏兴', 'date': '2014-01-08', 'result': 0.5, 'id': 'tournament_1_28'}, {'white': '毛均承', 'black': '彭国', 'date': '2014-01-08', 'result': 0.5, 'id': 'tournament_1_29'}, {'white': '李守超', 'black': '谢庆麟', 'date': '2014-01-08', 'result': 1, 'id': 'tournament_1_30'}, {'white': '王剑铭', 'black': '陈音亮', 'date': '2014-01-08', 'result': 1, 'id': 'tournament_1_31'}, {'white': '杨承', 'black': '沈岚鸿', 'date': '2014-01-08', 'result': 0, 'id': 'tournament_1_32'}, {'white': '张家懿', 'black': '李巧芸', 'date': '2014-01-08', 'result': 0, 'id': 'tournament_1_33'}]
tours: 9
time_control: rapid

In [119]:
combined_df['games'].head(1)

0    [{'white': '贾叶珍', 'black': '范辰妮', 'date': '201...
Name: games, dtype: object

In [123]:
import pandas as pd

# Step 1: Base URL for the JSON files
base_url = 'https://github.com/SunilGorantla/QT_Batch_0011/raw/main/Machine_Learning/datasets/chess/train'

# Step 2: List of JSON filenames to be read
file_names = [
    'tournament_1.json', 'tournament_1.json', 'tournament_10.json', 'tournament_10.json', 'tournament_100.json', 'tournament_100.json', 
    'tournament_101.json', 'tournament_101.json', 'tournament_102.json', 'tournament_102.json', 'tournament_103.json', 'tournament_103.json',
]

# Step 3: Initialize an empty list to store DataFrames
dfs = []

# Step 4: Loop through the file names, read each file, and append to the list
for file_name in file_names:
    file_url = f"{base_url}/{file_name}"
    df = pd.read_json(file_url)
    dfs.append(df)

# Step 5: Concatenate all DataFrames into a single DataFrame
combined_df = pd.concat(dfs, ignore_index=True)

# Step 6: Reset index to avoid index-related issues
combined_df.reset_index(drop=True, inplace=True)

# Step 7: Explode the "games" column to separate rows for each game
games_df = combined_df.explode('games')

# Step 8: Convert the exploded "games" column to a DataFrame
games_details_df = pd.json_normalize(games_df['games'])

# Step 9: Reset index of exploded games DataFrame
games_df.reset_index(drop=True, inplace=True)
games_details_df.reset_index(drop=True, inplace=True)

# Step 10: Concatenate the new games details DataFrame with the original DataFrame
combined_df = pd.concat([games_df.drop(columns='games'), games_details_df], axis=1)

# Display the new DataFrame structure
print(combined_df.head())

# Optional: Save the new DataFrame to a CSV file for further analysis
combined_df.to_csv('simplified_chess_data.csv', index=False)

           name  start_date    end_date  tours time_control white black  \
0  tournament_1  2014-01-08  2014-01-17      9        rapid   贾叶珍   范辰妮
1  tournament_1  2014-01-08  2014-01-17      9        rapid   吕亚光   李嘉爵
2  tournament_1  2014-01-08  2014-01-17      9        rapid   刘奇喜   刘晓鹏
3  tournament_1  2014-01-08  2014-01-17      9        rapid   陆桂姐   郑新聪
4  tournament_1  2014-01-08  2014-01-17      9        rapid   李汶玲   叶天英

         date  result              id
0  2014-01-08     0.5  tournament_1_1
1  2014-01-08     0.5  tournament_1_2
2  2014-01-08     0.5  tournament_1_3
3  2014-01-08     1.0  tournament_1_4
4  2014-01-08     0.5  tournament_1_5

In [125]:
import pandas as pd

# Step 1: Base URL for the JSON files
base_url = 'https://github.com/SunilGorantla/QT_Batch_0011/raw/main/Machine_Learning/datasets/chess/train'

# Step 2: List of JSON filenames to be read
file_names = [
    'tournament_1.json', 'tournament_1.json', 'tournament_10.json', 'tournament_10.json', 'tournament_100.json', 'tournament_100.json', 
    'tournament_101.json', 'tournament_101.json', 'tournament_102.json', 'tournament_102.json', 'tournament_103.json', 'tournament_103.json',
]

# Step 3: Initialize an empty list to store DataFrames
dfs = []

# Step 4: Loop through the file names, read each file, and append to the list
for file_name in file_names:
    file_url = f"{base_url}/{file_name}"
    df = pd.read_json(file_url)
    dfs.append(df)

# Step 5: Concatenate all DataFrames into a single DataFrame
combined_df = pd.concat(dfs, ignore_index=True)

# Step 6: Reset index to avoid index-related issues
combined_df.reset_index(drop=True, inplace=True)

# Step 7: Explode the "games" column to separate rows for each game
games_df = combined_df.explode('games')

# Step 8: Convert the exploded "games" column to a DataFrame
games_details_df = pd.json_normalize(games_df['games'])

# Step 9: Concatenate the new games details DataFrame with the original DataFrame (excluding the old "games" column)
combined_df = pd.concat([games_df.drop(columns='games'), games_details_df], axis=1)

# Display the new DataFrame structure
print(combined_df.head())

# Optional: Save the new DataFrame to a CSV file for further analysis
combined_df.to_csv('simplified_chess_data.csv', index=False)

InvalidIndexError: Reindexing only valid with uniquely valued Index objects

In [127]:
import pandas as pd

# Step 1: Base URL for the JSON files
base_url = 'https://github.com/SunilGorantla/QT_Batch_0011/raw/main/Machine_Learning/datasets/chess/train'

# Step 2: List of JSON filenames to be read
file_names = [
    'tournament_1.json', 'tournament_1.json', 'tournament_10.json', 'tournament_10.json', 'tournament_100.json', 'tournament_100.json', 
    'tournament_101.json', 'tournament_101.json', 'tournament_102.json', 'tournament_102.json', 'tournament_103.json', 'tournament_103.json',
]

# Step 3: Initialize an empty list to store DataFrames
dfs = []

# Step 4: Loop through the file names, read each file, and append to the list
for file_name in file_names:
    file_url = f"{base_url}/{file_name}"
    try:
        df = pd.read_json(file_url)
        dfs.append(df)
    except Exception as e:
        print(f"Error reading {file_url}: {e}")

# Step 5: Concatenate all DataFrames into a single DataFrame
combined_df = pd.concat(dfs, ignore_index=True)

# Step 6: Reset index to avoid index-related issues
combined_df.reset_index(drop=True, inplace=True)

# Step 7: Check if the "games" column exists and if it contains lists
if 'games' in combined_df.columns and combined_df['games'].apply(lambda x: isinstance(x, list)).all():
    # Step 8: Explode the "games" column to separate rows for each game
    games_df = combined_df.explode('games')

    # Step 9: Convert the exploded "games" column to a DataFrame
    games_details_df = pd.json_normalize(games_df['games'])

    # Step 10: Concatenate the new games details DataFrame with the original DataFrame (excluding the old "games" column)
    combined_df = pd.concat([games_df.drop(columns='games'), games_details_df], axis=1)

    # Step 11: Reset index again after concatenation
    combined_df.reset_index(drop=True, inplace=True)

    # Display the new DataFrame structure
    print(combined_df.head())

    # Optional: Save the new DataFrame to a CSV file for further analysis
    combined_df.to_csv('simplified_chess_data.csv', index=False)
else:
    print("The 'games' column is missing or does not contain lists.")

InvalidIndexError: Reindexing only valid with uniquely valued Index objects

In [17]:
import pandas as pd

# Step 1: Base URL for the JSON files
base_url = 'https://github.com/SunilGorantla/QT_Batch_0011/raw/main/Machine_Learning/datasets/chess/train'

# Step 2: List of JSON filenames to be read
file_names = [
    'tournament_1.json', 'tournament_1.json', 'tournament_10.json', 'tournament_10.json', 'tournament_100.json', 'tournament_100.json', 
    'tournament_101.json', 'tournament_101.json', 'tournament_102.json', 'tournament_102.json', 'tournament_103.json', 'tournament_103.json',
]

# Step 3: Initialize an empty list to store DataFrames
dfs = []

# Step 4: Loop through the file names, read each file, and append to the list
for file_name in file_names:
    file_url = f"{base_url}/{file_name}"
    try:
        df = pd.read_json(file_url)
        dfs.append(df)
    except Exception as e:
        print(f"Error reading {file_url}: {e}")

# Step 5: Concatenate all DataFrames into a single DataFrame
combined_df = pd.concat(dfs, ignore_index=True)

# Step 6: Reset index to ensure unique index values
combined_df.reset_index(drop=True, inplace=True)

# Step 7: Check the structure of the DataFrame
print("Columns in the DataFrame:", combined_df.columns)
print("Sample data in the DataFrame:", combined_df.head())

# Step 8: Handle the 'games' column
if 'games' in combined_df.columns:
    # Ensure 'games' column contains lists
    if combined_df['games'].apply(lambda x: isinstance(x, list)).all():
        # Explode the 'games' column to separate rows for each game
        games_df = combined_df.explode('games')
        
        # Reset index after exploding
        games_df.reset_index(drop=True, inplace=True)
        
        # Convert the exploded 'games' column to a DataFrame
        games_details_df = pd.json_normalize(games_df['games'])

        # Concatenate the new games details DataFrame with the original DataFrame (excluding the old 'games' column)
        final_df = pd.concat([games_df.drop(columns='games'), games_details_df], axis=1)

        # Reset index again after concatenation
        final_df.reset_index(drop=True, inplace=True)

        # Display the new DataFrame structure
        print(final_df.head(1000))

        # Optional: Save the new DataFrame to a CSV file for further analysis
        final_df.to_csv('simplified_chess_data.csv', index=False)
    else:
        print("The 'games' column does not contain lists.")
else:
    print("The 'games' column is missing.")

Columns in the DataFrame: Index(['name', 'start_date', 'end_date', 'games', 'tours', 'time_control'], dtype='object')
Sample data in the DataFrame:            name  start_date    end_date  \
0  tournament_1  2014-01-08  2014-01-17
1  tournament_1  2014-01-08  2014-01-17
2  tournament_1  2014-01-08  2014-01-17
3  tournament_1  2014-01-08  2014-01-17
4  tournament_1  2014-01-08  2014-01-17

                                               games  tours time_control
0  [{'white': '贾叶珍', 'black': '范辰妮', 'date': '201...      9        rapid
1  [{'white': '曹灵缨', 'black': '陆桂姐', 'date': '201...      9        rapid
2  [{'white': '刘家坚', 'black': '沈岚鸿', 'date': '201...      9        rapid
3  [{'white': '沈岚鸿', 'black': '李文子', 'date': '201...      9        rapid
4  [{'white': '范存妞', 'black': '沈岚鸿', 'date': '201...      9        rapid
              name  start_date    end_date  tours time_control          white  \
0     tournament_1  2014-01-08  2014-01-17      9        rapid            贾叶珍
1     tournament_1  2014-01-08  2014-01-17      9        rapid            吕亚光
2     tournament_1  2014-01-08  2014-01-17      9        rapid            刘奇喜
3     tournament_1  2014-01-08  2014-01-17      9        rapid            陆桂姐
4     tournament_1  2014-01-08  2014-01-17      9        rapid            李汶玲
..             ...         ...         ...    ...          ...            ...
995  tournament_10  2014-01-15  2014-02-08     12        rapid  Huang, Mengli
996  tournament_10  2014-01-15  2014-02-08     12        rapid    Li, Minkang
997  tournament_10  2014-01-15  2014-02-08     12        rapid  Jiang, Degang
998  tournament_10  2014-01-15  2014-02-08     12        rapid   Liu, Kaiqing
999  tournament_10  2014-01-15  2014-02-08     12        rapid      Wei, Ming

             black        date  result                 id
0              范辰妮  2014-01-08     0.5     tournament_1_1
1              李嘉爵  2014-01-08     0.5     tournament_1_2
2              刘晓鹏  2014-01-08     0.5     tournament_1_3
3              郑新聪  2014-01-08     1.0     tournament_1_4
4              叶天英  2014-01-08     0.5     tournament_1_5
..             ...         ...     ...                ...
995      Wang, Jin  2014-01-23     1.0  tournament_10_102
996  Gao, Xiaochen  2014-01-23     0.5  tournament_10_103
997      Wang, Cai  2014-01-23     0.5  tournament_10_104
998     Chen, Yuyu  2014-01-23     0.0  tournament_10_105
999  Liang, Shujun  2014-01-23     0.5  tournament_10_106

[1000 rows x 10 columns]

In [5]:
final_df["name"].nunique()

6

In [59]:
import pandas as pd

# Step 1: Base URL for the JSON files
base_url = 'https://github.com/SunilGorantla/QT_Batch_0011/raw/main/Machine_Learning/datasets/chess/train'

# Step 2: List of JSON filenames to be read
file_names = [
    'tournament_1.json', 'tournament_1.json', 'tournament_10.json', 'tournament_10.json', 'tournament_100.json', 'tournament_100.json', 
    'tournament_101.json', 'tournament_101.json', 'tournament_102.json', 'tournament_102.json', 'tournament_103.json', 'tournament_103.json',
]

# Step 3: Initialize an empty list to store DataFrames
dfs = []

# Step 4: Loop through the file names, read each file, and append to the list
for file_name in file_names:
    file_url = f"{base_url}/{file_name}"
    try:
        df = pd.read_json(file_url)
        dfs.append(df)
    except Exception as e:
        print(f"Error reading {file_url}: {e}")

# Step 5: Concatenate all DataFrames into a single DataFrame
combined_df = pd.concat(dfs, ignore_index=True)

# Step 6: Reset index to ensure unique index values
combined_df.reset_index(drop=True, inplace=True)

# Step 7: Check the structure of the DataFrame
print("Columns in the DataFrame:", combined_df.columns)
print("Sample data in the DataFrame:", combined_df.head())

# Step 8: Handle the 'games' column
if 'games' in combined_df.columns:
    # Ensure 'games' column contains lists
    if combined_df['games'].apply(lambda x: isinstance(x, list)).all():
        # Explode the 'games' column to separate rows for each game
        games_df = combined_df.explode('games')
        
        # Reset index after exploding
        games_df.reset_index(drop=True, inplace=True)
        
        # Convert the exploded 'games' column to a DataFrame
        games_details_df = pd.json_normalize(games_df['games'])

        # Concatenate the new games details DataFrame with the original DataFrame (excluding the old 'games' column)
        final_df = pd.concat([games_df.drop(columns='games'), games_details_df], axis=1)

        # Reset index again after concatenation
        final_df.reset_index(drop=True, inplace=True)

        # Display the new DataFrame structure
        print("Final DataFrame Structure:")
        print(final_df.head())

        # Optional: Save the new DataFrame to a CSV file for further analysis
        final_df.to_csv('simplified_chess_data.csv', index=False)
    else:
        print("The 'games' column does not contain lists.")
else:
    print("The 'games' column is missing.")

Columns in the DataFrame: Index(['name', 'start_date', 'end_date', 'games', 'tours', 'time_control'], dtype='object')
Sample data in the DataFrame:            name  start_date    end_date  \
0  tournament_1  2014-01-08  2014-01-17
1  tournament_1  2014-01-08  2014-01-17
2  tournament_1  2014-01-08  2014-01-17
3  tournament_1  2014-01-08  2014-01-17
4  tournament_1  2014-01-08  2014-01-17

                                               games  tours time_control
0  [{'white': '贾叶珍', 'black': '范辰妮', 'date': '201...      9        rapid
1  [{'white': '曹灵缨', 'black': '陆桂姐', 'date': '201...      9        rapid
2  [{'white': '刘家坚', 'black': '沈岚鸿', 'date': '201...      9        rapid
3  [{'white': '沈岚鸿', 'black': '李文子', 'date': '201...      9        rapid
4  [{'white': '范存妞', 'black': '沈岚鸿', 'date': '201...      9        rapid
Final DataFrame Structure:
           name  start_date    end_date  tours time_control white black  \
0  tournament_1  2014-01-08  2014-01-17      9        rapid   贾叶珍   范辰妮
1  tournament_1  2014-01-08  2014-01-17      9        rapid   吕亚光   李嘉爵
2  tournament_1  2014-01-08  2014-01-17      9        rapid   刘奇喜   刘晓鹏
3  tournament_1  2014-01-08  2014-01-17      9        rapid   陆桂姐   郑新聪
4  tournament_1  2014-01-08  2014-01-17      9        rapid   李汶玲   叶天英

         date  result              id
0  2014-01-08     0.5  tournament_1_1
1  2014-01-08     0.5  tournament_1_2
2  2014-01-08     0.5  tournament_1_3
3  2014-01-08     1.0  tournament_1_4
4  2014-01-08     0.5  tournament_1_5

In [19]:
# Filter rows where the 'name' column equals 'tournament_1'
filtered_df = final_df[final_df['name'] == 'tournament_1']

# Display the first 100 rows of the filtered DataFrame
print(filtered_df.head(100))

            name  start_date    end_date  tours time_control white black  \
0   tournament_1  2014-01-08  2014-01-17      9        rapid   贾叶珍   范辰妮
1   tournament_1  2014-01-08  2014-01-17      9        rapid   吕亚光   李嘉爵
2   tournament_1  2014-01-08  2014-01-17      9        rapid   刘奇喜   刘晓鹏
3   tournament_1  2014-01-08  2014-01-17      9        rapid   陆桂姐   郑新聪
4   tournament_1  2014-01-08  2014-01-17      9        rapid   李汶玲   叶天英
..           ...         ...         ...    ...          ...   ...   ...
95  tournament_1  2014-01-08  2014-01-17      9        rapid   李琳华   齐慧智
96  tournament_1  2014-01-08  2014-01-17      9        rapid   冯燕家   何建芝
97  tournament_1  2014-01-08  2014-01-17      9        rapid    杨承    张燕
98  tournament_1  2014-01-08  2014-01-17      9        rapid   张家懿   王千迅
99  tournament_1  2014-01-08  2014-01-17      9        rapid   沈岚鸿   李文子

          date  result                id
0   2014-01-08     0.5    tournament_1_1
1   2014-01-08     0.5    tournament_1_2
2   2014-01-08     0.5    tournament_1_3
3   2014-01-08     1.0    tournament_1_4
4   2014-01-08     0.5    tournament_1_5
..         ...     ...               ...
95  2014-01-10     1.0   tournament_1_96
96  2014-01-10     0.0   tournament_1_97
97  2014-01-10     0.0   tournament_1_98
98  2014-01-10     0.0   tournament_1_99
99  2014-01-11     1.0  tournament_1_100

[100 rows x 10 columns]

In [161]:
# Filter rows where the 'name' column equals 'tournament_1'
filtered_df = final_df[final_df['name'] == 'tournament_1']

# Display the first 100 rows of the filtered DataFrame
print(filtered_df.head(100))

# Get the count of records where 'name' is 'tournament_1'
record_count = filtered_df.shape[0]
print(f"Count of records with name 'tournament_1': {record_count}")

            name  start_date    end_date  tours time_control white black  \
0   tournament_1  2014-01-08  2014-01-17      9        rapid   贾叶珍   范辰妮
1   tournament_1  2014-01-08  2014-01-17      9        rapid   吕亚光   李嘉爵
2   tournament_1  2014-01-08  2014-01-17      9        rapid   刘奇喜   刘晓鹏
3   tournament_1  2014-01-08  2014-01-17      9        rapid   陆桂姐   郑新聪
4   tournament_1  2014-01-08  2014-01-17      9        rapid   李汶玲   叶天英
..           ...         ...         ...    ...          ...   ...   ...
95  tournament_1  2014-01-08  2014-01-17      9        rapid   李琳华   齐慧智
96  tournament_1  2014-01-08  2014-01-17      9        rapid   冯燕家   何建芝
97  tournament_1  2014-01-08  2014-01-17      9        rapid    杨承    张燕
98  tournament_1  2014-01-08  2014-01-17      9        rapid   张家懿   王千迅
99  tournament_1  2014-01-08  2014-01-17      9        rapid   沈岚鸿   李文子

          date  result                id
0   2014-01-08     0.5    tournament_1_1
1   2014-01-08     0.5    tournament_1_2
2   2014-01-08     0.5    tournament_1_3
3   2014-01-08     1.0    tournament_1_4
4   2014-01-08     0.5    tournament_1_5
..         ...     ...               ...
95  2014-01-10     1.0   tournament_1_96
96  2014-01-10     0.0   tournament_1_97
97  2014-01-10     0.0   tournament_1_98
98  2014-01-10     0.0   tournament_1_99
99  2014-01-11     1.0  tournament_1_100

[100 rows x 10 columns]
Count of records with name 'tournament_1': 3586

In [147]:
import pandas as pd

# Assuming final_df is already created from the previous code
# For demonstration, here's how you would use it:

# Get the number of unique values in the 'white' column
unique_count = final_df["white"].nunique()
print(f"Number of unique values in 'white': {unique_count}")

# Get the count of each unique value in the 'white' column
value_counts = final_df["white"].value_counts()
print("Counts of each unique value in 'white':")
print(value_counts)

Number of unique values in 'white': 293
Counts of each unique value in 'white':
white
Lv, Yiguo      26
Cai, Qi        26
Zhang, Muli    24
Chen, Yuyu     24
Liang, Qing    24
               ..
郑新聪             8
刘星梅             8
袁宪萍             8
范辰妮             6
Lv, Yinwen      6
Name: count, Length: 293, dtype: int64

In [21]:
final_df.columns

Index(['name', 'start_date', 'end_date', 'tours', 'time_control', 'white',
       'black', 'date', 'result', 'id'],
      dtype='object')

In [167]:
# Data Summary
data_summary = []

Categorical_features = ['name', 'start_date', 'end_date', 'tours', 'time_control', 'white',
       'black', 'date', 'result', 'id']

for col in final_df.columns:
    percent_null = final_df[col].isnull().mean()*100
    total_unique = final_df[col].nunique()
    total_values = final_df[col].count()
    # data_type = "Numerical" if pd.api.types.is_numeric_dtype(train[col]) else "Categorical"
    data_type = "Numerical" if col not in Categorical_features else "Categorical"

    data_summary.append([col, data_type, total_unique,  percent_null, total_values])

data_summary = pd.DataFrame(data_summary, columns = ['Feature Name', 'Data_type', 'Unique_values', '% of null values', 'Total values'])
data_summary

   Feature Name    Data_type  Unique_values  % of null values  Total values
0          name  Categorical              1               0.0          3586
1    start_date  Categorical              5               0.0          3586
2      end_date  Categorical              6               0.0          3586
3         tours  Categorical              3               0.0          3586
4  time_control  Categorical              2               0.0          3586
5         white  Categorical            293               0.0          3586
6         black  Categorical            293               0.0          3586
7          date  Categorical             38               0.0          3586
8        result  Categorical              3               0.0          3586
9            id  Categorical           1793               0.0          3586

In [23]:
import pandas as pd

# Assuming final_df already exists and has the columns 'name', 'start_date', and 'date'

# Filter rows where the 'name' column equals 'tournament_1' and 'start_date' is not equal to 'date'
filtered_df = final_df[(final_df['name'] == 'tournament_1') & (final_df['start_date'] != final_df['date'])]

# Display the first 50 rows of the filtered DataFrame
print(filtered_df.head(50))

            name  start_date    end_date  tours time_control white black  \
33  tournament_1  2014-01-08  2014-01-17      9        rapid   曹灵缨   陆桂姐
34  tournament_1  2014-01-08  2014-01-17      9        rapid   王由航   刘家坚
35  tournament_1  2014-01-08  2014-01-17      9        rapid   毛心磊   张志琼
36  tournament_1  2014-01-08  2014-01-17      9        rapid   沈岚鸿   徐先广
37  tournament_1  2014-01-08  2014-01-17      9        rapid   李巧芸   刘宇福
38  tournament_1  2014-01-08  2014-01-17      9        rapid   范辰妮   范存妞
39  tournament_1  2014-01-08  2014-01-17      9        rapid   李嘉爵   李文子
40  tournament_1  2014-01-08  2014-01-17      9        rapid   刘晓鹏    刘先
41  tournament_1  2014-01-08  2014-01-17      9        rapid   叶天英   张延营
42  tournament_1  2014-01-08  2014-01-17      9        rapid    杨钰   张安甜
43  tournament_1  2014-01-08  2014-01-17      9        rapid    方东   李松江
44  tournament_1  2014-01-08  2014-01-17      9        rapid   余冬春    梁良
45  tournament_1  2014-01-08  2014-01-17      9        rapid   阎斯钧   李守超
46  tournament_1  2014-01-08  2014-01-17      9        rapid   张半植   王剑铭
47  tournament_1  2014-01-08  2014-01-17      9        rapid   董玉波   贾叶珍
48  tournament_1  2014-01-08  2014-01-17      9        rapid   袁宪萍   吕亚光
49  tournament_1  2014-01-08  2014-01-17      9        rapid   刘星梅   刘奇喜
50  tournament_1  2014-01-08  2014-01-17      9        rapid    魏兴   李汶玲
51  tournament_1  2014-01-08  2014-01-17      9        rapid    彭国    薛冠
52  tournament_1  2014-01-08  2014-01-17      9        rapid   郑新聪   王永赟
53  tournament_1  2014-01-08  2014-01-17      9        rapid   齐慧智   杨莎强
54  tournament_1  2014-01-08  2014-01-17      9        rapid    吴秋   孟芳全
55  tournament_1  2014-01-08  2014-01-17      9        rapid   吴昱明   钟弘存
56  tournament_1  2014-01-08  2014-01-17      9        rapid   朱有荣   袁小昆
57  tournament_1  2014-01-08  2014-01-17      9        rapid   何建芝   杨燕波
58  tournament_1  2014-01-08  2014-01-17      9        rapid   何驿艳   陈思刚
59  tournament_1  2014-01-08  2014-01-17      9        rapid    梁扬   董海非
60  tournament_1  2014-01-08  2014-01-17      9        rapid    张燕   毛均承
61  tournament_1  2014-01-08  2014-01-17      9        rapid   张木兴   冯燕家
62  tournament_1  2014-01-08  2014-01-17      9        rapid   王千迅   杨佩义
63  tournament_1  2014-01-08  2014-01-17      9        rapid    殷小   李琳华
64  tournament_1  2014-01-08  2014-01-17      9        rapid   谢庆麟    杨承
65  tournament_1  2014-01-08  2014-01-17      9        rapid   陈音亮   张家懿
66  tournament_1  2014-01-08  2014-01-17      9        rapid   刘家坚   沈岚鸿
67  tournament_1  2014-01-08  2014-01-17      9        rapid   范存妞   曹灵缨
68  tournament_1  2014-01-08  2014-01-17      9        rapid   李文子   毛心磊
69  tournament_1  2014-01-08  2014-01-17      9        rapid   张延营   李巧芸
70  tournament_1  2014-01-08  2014-01-17      9        rapid   李守超    杨钰
71  tournament_1  2014-01-08  2014-01-17      9        rapid   陆桂姐    方东
72  tournament_1  2014-01-08  2014-01-17      9        rapid   张志琼   张半植
73  tournament_1  2014-01-08  2014-01-17      9        rapid   刘宇福   董玉波
74  tournament_1  2014-01-08  2014-01-17      9        rapid    刘先   刘星梅
75  tournament_1  2014-01-08  2014-01-17      9        rapid    梁良    彭国
76  tournament_1  2014-01-08  2014-01-17      9        rapid   杨莎强   王由航
77  tournament_1  2014-01-08  2014-01-17      9        rapid   杨燕波   刘晓鹏
78  tournament_1  2014-01-08  2014-01-17      9        rapid   毛均承   余冬春
79  tournament_1  2014-01-08  2014-01-17      9        rapid   徐先广   袁宪萍
80  tournament_1  2014-01-08  2014-01-17      9        rapid   张安甜    魏兴
81  tournament_1  2014-01-08  2014-01-17      9        rapid   李松江    吴秋
82  tournament_1  2014-01-08  2014-01-17      9        rapid   王剑铭    梁扬

          date  result               id
33  2014-01-09     0.5  tournament_1_34
34  2014-01-09     0.0  tournament_1_35
35  2014-01-09     0.5  tournament_1_36
36  2014-01-09     1.0  tournament_1_37
37  2014-01-09     0.5  tournament_1_38
38  2014-01-09     0.0  tournament_1_39
39  2014-01-09     0.0  tournament_1_40
40  2014-01-09     0.5  tournament_1_41
41  2014-01-09     0.0  tournament_1_42
42  2014-01-09     1.0  tournament_1_43
43  2014-01-09     1.0  tournament_1_44
44  2014-01-09     0.5  tournament_1_45
45  2014-01-09     0.0  tournament_1_46
46  2014-01-09     1.0  tournament_1_47
47  2014-01-09     1.0  tournament_1_48
48  2014-01-09     0.5  tournament_1_49
49  2014-01-09     1.0  tournament_1_50
50  2014-01-09     0.5  tournament_1_51
51  2014-01-09     1.0  tournament_1_52
52  2014-01-09     0.5  tournament_1_53
53  2014-01-09     0.0  tournament_1_54
54  2014-01-09     1.0  tournament_1_55
55  2014-01-09     0.5  tournament_1_56
56  2014-01-09     0.5  tournament_1_57
57  2014-01-09     0.0  tournament_1_58
58  2014-01-09     0.5  tournament_1_59
59  2014-01-09     1.0  tournament_1_60
60  2014-01-09     0.0  tournament_1_61
61  2014-01-09     1.0  tournament_1_62
62  2014-01-09     0.0  tournament_1_63
63  2014-01-09     0.5  tournament_1_64
64  2014-01-09     1.0  tournament_1_65
65  2014-01-09     1.0  tournament_1_66
66  2014-01-10     0.0  tournament_1_67
67  2014-01-10     0.5  tournament_1_68
68  2014-01-10     1.0  tournament_1_69
69  2014-01-10     1.0  tournament_1_70
70  2014-01-10     0.5  tournament_1_71
71  2014-01-10     1.0  tournament_1_72
72  2014-01-10     1.0  tournament_1_73
73  2014-01-10     1.0  tournament_1_74
74  2014-01-10     0.0  tournament_1_75
75  2014-01-10     1.0  tournament_1_76
76  2014-01-10     0.5  tournament_1_77
77  2014-01-10     0.0  tournament_1_78
78  2014-01-10     1.0  tournament_1_79
79  2014-01-10     1.0  tournament_1_80
80  2014-01-10     1.0  tournament_1_81
81  2014-01-10     0.0  tournament_1_82
82  2014-01-10     1.0  tournament_1_83

In [181]:
# print(train.groupby("Gender").mean()["Purchase"])
#print(final_df.groupby(by = ["name","date"])["result"].mean(),["result"].count())
#pd.pivot_table(final_df, index = 'date', columns='name', values  = 'result', aggfunc={'result':np.mean,'result':np.count})
import pandas as pd
import numpy as np

# Group by 'name' and 'date', then calculate the mean and count of 'result'
grouped = final_df.groupby(by=['name', 'date'])['result'].agg(['mean', 'count'])
print(grouped)

                             mean  count
name         date
tournament_1 2014-01-08  0.636364     66
             2014-01-09  0.545455     66
             2014-01-10  0.621212     66
             2014-01-11  0.621212     66
             2014-01-12  0.545455     66
             2014-01-13  0.500000     66
             2014-01-14  0.651515     66
             2014-01-15  0.500000    116
             2014-01-16  0.651515     66
             2014-01-17  0.580000     50
             2014-01-19  0.420000     50
             2014-01-21  0.520000     50
             2014-01-23  0.440000     50
             2014-01-25  0.620000     50
             2014-01-27  0.520000     50
             2014-01-29  0.560000     50
             2014-01-31  0.600000     50
             2014-02-02  0.600000     50
             2014-02-04  0.420000     50
             2014-02-06  0.600000     50
             2014-08-29  0.611111     72
             2014-08-31  0.416667     72
             2014-09-02  0.694444     72
             2014-09-04  0.525943    424
             2014-09-05  0.583333     48
             2014-09-06  0.625000    120
             2014-09-07  0.562500     48
             2014-09-08  0.522135    768
             2014-09-09  0.583333     48
             2014-09-10  0.675000    120
             2014-09-11  0.604167     48
             2014-09-12  0.491667    120
             2014-09-13  0.604167     48
             2014-09-14  0.525000    120
             2014-09-15  0.500000     48
             2014-09-16  0.486111     72
             2014-09-18  0.638889     72
             2014-09-20  0.430556     72

In [55]:
import pandas as pd

# Assuming final_df is already created and contains data

# Define the file path where you want to save the CSV file
file_path = r'F:\jupyter\final_df2.csv'

# Save the DataFrame to a CSV file
final_df.to_csv(file_path, index=False)

print(f"DataFrame has been saved to {file_path}")

DataFrame has been saved to F:\jupyter\final_df2.csv

In [25]:
final_df["name"]=='tournament_1'

0        True
1        True
2        True
3        True
4        True
        ...
3581    False
3582    False
3583    False
3584    False
3585    False
Name: name, Length: 3586, dtype: bool

In [61]:
final_df.head(2000)

,name,start_date,end_date,tours,time_control,white,black,date,result,id
0,tournament_1,2014-01-08,2014-01-17,9,rapid,贾叶珍,范辰妮,2014-01-08,0.5,tournament_1_1
1,tournament_1,2014-01-08,2014-01-17,9,rapid,吕亚光,李嘉爵,2014-01-08,0.5,tournament_1_2
2,tournament_1,2014-01-08,2014-01-17,9,rapid,刘奇喜,刘晓鹏,2014-01-08,0.5,tournament_1_3
3,tournament_1,2014-01-08,2014-01-17,9,rapid,陆桂姐,郑新聪,2014-01-08,1.0,tournament_1_4
4,tournament_1,2014-01-08,2014-01-17,9,rapid,李汶玲,叶天英,2014-01-08,0.5,tournament_1_5
...,...,...,...,...,...,...,...,...,...,...
1995,tournament_100,2014-08-29,2014-09-22,12,classic,陈一,金心峰,2014-09-18,0.5,tournament_100_370
1996,tournament_100,2014-08-29,2014-09-22,12,classic,郭周哲,彭国,2014-09-18,1.0,tournament_100_371
1997,tournament_100,2014-08-29,2014-09-22,12,classic,吴雄苍,魏兴,2014-09-18,0.5,tournament_100_372
1998,tournament_100,2014-08-29,2014-09-22,12,classic,郝华琳,丁晨彤,2014-09-18,1.0,tournament_100_373
1999,tournament_100,2014-08-29,2014-09-22,12,classic,冯柏贞,何驿艳,2014-09-18,0.5,tournament_100_374

In [21]:
import pandas as pd

# Assuming you have a DataFrame named 'final_df'

# Filter the DataFrame where 'name' is 'tournament_1' and 'white' is 'Huang, Mengli'
#filtered_df = final_df[(final_df['name'] == 'tournament_10') & (final_df['white'] == 'Jiang, Degang')]

# Group by 'result', 'name', and 'white', then count occurrences of each group
grouped_df = final_df.groupby(['result', 'name', 'white','tours']).size().reset_index(name='count')

# Display the result

grouped_df.head(100)

    result            name white  tours  count
0      0.0    tournament_1   何建芝      9      4
1      0.0    tournament_1   何驿艳      9      2
2      0.0    tournament_1   冯燕家      9      6
3      0.0    tournament_1    刘先      9      2
4      0.0    tournament_1   刘奇喜      9      2
..     ...             ...   ...    ...    ...
95     0.0  tournament_100   李秀寿     12      2
96     0.0  tournament_100    杨慧     12      4
97     0.0  tournament_100    杨承     12      4
98     0.0  tournament_100   林源浩     12      4
99     0.0  tournament_100    梁良     12      2

[100 rows x 5 columns]

In [15]:
import pandas as pd

# Assuming you have a DataFrame named 'final_df'

# Filter the DataFrame where 'name' is 'tournament_1' and 'white' is 'Huang, Mengli'
#filtered_df = final_df[(final_df['name'] == 'tournament_10') & (final_df['white'] == 'Jiang, Degang')]

# Group by 'result', 'name', and 'white', then count occurrences of each group
grouped_df = filtered_df.groupby(['result', 'name', 'white']).size().reset_index(name='count')

# Display the result

grouped_df.head()

   result           name          white  count
0     0.5  tournament_10  Jiang, Degang     10
1     1.0  tournament_10  Jiang, Degang      2

In [17]:
import pandas as pd

# Assuming you have a DataFrame named 'final_df'
# Example of initializing ELO ratings for players
initial_elo = 1200  # Initial ELO score for each player

# Create a dictionary to store the ELO ratings of players
elo_ratings = {'Huang, Mengli': initial_elo, 'Jiang, Degang': initial_elo}

# Function to calculate the expected score
def expected_score(elo_a, elo_b):
    return 1 / (1 + 10**((elo_b - elo_a) / 400))

# Function to update the ELO rating
def update_elo(elo, expected, actual, k=32):
    return elo + k * (actual - expected)

# Iterate over each match and update the ELO score for 'Huang, Mengli'
for _, row in final_df.iterrows():
    if row['white'] == 'Huang, Mengli':
        opponent = row['black']  # Assuming the opponent's name is in the 'black' column
    else:
        opponent = row['white']
    
    result = row['result']
    
    # Get current ELO ratings
    elo_a = elo_ratings['Huang, Mengli']
    elo_b = elo_ratings.get(opponent, initial_elo)
    
    # Calculate expected score
    expected_a = expected_score(elo_a, elo_b)
    
    # Update ELO based on match result
    actual_score = result  # Assuming 1.0 for win, 0.5 for draw, 0.0 for loss
    new_elo_a = update_elo(elo_a, expected_a, actual_score)
    
    # Update the dictionary with new ELO score
    elo_ratings['Huang, Mengli'] = new_elo_a
    elo_ratings[opponent] = update_elo(elo_b, 1 - expected_a, 1 - actual_score)

# Output the final ELO rating for Huang, Mengli
print(f"Final ELO rating for Huang, Mengli: {elo_ratings['Huang, Mengli']}")

Final ELO rating for Huang, Mengli: 1256.8010362280102

In [37]:
import pandas as pd

# Example initial ELO score
initial_elo = 1200

# Create a dictionary to store ELO ratings of players
elo_ratings = {}

# Function to calculate the expected score
def expected_score(elo_a, elo_b):
    return 1 / (1 + 10**((elo_b - elo_a) / 400))

# Function to update the ELO rating
def update_elo(elo, expected, actual, k=32):
    return elo + k * (actual - expected)

# Iterate over each match in the DataFrame and update ELO scores
for _, row in final_df.iterrows():
    white_player = row['white']
    black_player = row['black']
    result = row['result']
    
    # Initialize ELO scores if players are not in the dictionary
    if white_player not in elo_ratings:
        elo_ratings[white_player] = initial_elo
    if black_player not in elo_ratings:
        elo_ratings[black_player] = initial_elo
    
    # Get current ELO ratings
    elo_white = elo_ratings[white_player]
    elo_black = elo_ratings[black_player]
    
    # Calculate expected scores
    expected_white = expected_score(elo_white, elo_black)
    expected_black = 1 - expected_white
    
    # Determine actual scores based on match result
    if result == 1.0:  # White wins
        actual_white = 1.0
        actual_black = 0.0
    elif result == 0.0:  # Black wins
        actual_white = 0.0
        actual_black = 1.0
    else:  # Draw
        actual_white = 0.5
        actual_black = 0.5
    
    # Update ELO ratings
    elo_ratings[white_player] = update_elo(elo_white, expected_white, actual_white)
    elo_ratings[black_player] = update_elo(elo_black, expected_black, actual_black)

# Convert ELO ratings to a DataFrame for easier viewing
elo_df = pd.DataFrame(list(elo_ratings.items()), columns=['Player', 'ELO'])
elo_df = elo_df.sort_values(by='ELO', ascending=False).reset_index(drop=True)

# Display the final ELO ratings
print(elo_df)

            Player          ELO
0    Wang, Jianyao  1463.505303
1    Jiang, Degang  1421.993895
2       Li, Xingbo  1407.849396
3      Zhu, Erzhou  1405.206143
4              孙义敏  1396.713026
..             ...          ...
288  Zhang, Yajuan  1036.347932
289     Lu, Yingfu  1028.660479
290    Zhang, Muli  1005.389369
291            李禄娟  1001.667972
292             段振   967.929374

[293 rows x 2 columns]

In [71]:
import pandas as pd
final_df_duplicates=final_df
# Example initial ELO score
initial_elo = 1200

# Create a dictionary to store ELO ratings of players
elo_ratings = {}

# Function to calculate the expected score
def expected_score(elo_a, elo_b):
    return 1 / (1 + 10**((elo_b - elo_a) / 400))

# Function to update the ELO rating
def update_elo(elo, expected, actual, k=32):
    return elo + k * (actual - expected)

# Iterate over each match in the DataFrame and update ELO scores
for _, row in final_df_duplicates.iterrows():
    white_player = row['white']
    black_player = row['black']
    result = row['result']
    
    # Initialize ELO scores if players are not in the dictionary
    if white_player not in elo_ratings:
        elo_ratings[white_player] = initial_elo
    if black_player not in elo_ratings:
        elo_ratings[black_player] = initial_elo
    
    # Get current ELO ratings
    elo_white = elo_ratings[white_player]
    elo_black = elo_ratings[black_player]
    
    # Calculate expected scores
    expected_white = expected_score(elo_white, elo_black)
    expected_black = 1 - expected_white
    
    # Determine actual scores based on match result
    if result == 1.0:  # White wins
        actual_white = 1.0
        actual_black = 0.0
    elif result == 0.0:  # Black wins
        actual_white = 0.0
        actual_black = 1.0
    else:  # Draw
        actual_white = 0.5
        actual_black = 0.5
    
    # Update ELO ratings
    elo_ratings[white_player] = update_elo(elo_white, expected_white, actual_white)
    elo_ratings[black_player] = update_elo(elo_black, expected_black, actual_black)

# Convert ELO ratings to a DataFrame
elo_df = pd.DataFrame(list(elo_ratings.items()), columns=['Player', 'ELO'])

# Merge the ELO ratings back into the original DataFrame
final_df_duplicates = final_df_duplicates.merge(elo_df, left_on='white', right_on='Player', how='left')
final_df_duplicates = final_df_duplicates.rename(columns={'ELO': 'White_ELO'}).drop(columns=['Player'])

final_df_duplicates = final_df_duplicates.merge(elo_df, left_on='black', right_on='Player', how='left')
final_df_duplicates = final_df_duplicates.rename(columns={'ELO': 'Black_ELO'}).drop(columns=['Player'])

# Display the updated DataFrame
print(final_df_duplicates.head())

           name  start_date    end_date  tours time_control white black  \
0  tournament_1  2014-01-08  2014-01-17      9        rapid   贾叶珍   范辰妮
1  tournament_1  2014-01-08  2014-01-17      9        rapid   吕亚光   李嘉爵
2  tournament_1  2014-01-08  2014-01-17      9        rapid   刘奇喜   刘晓鹏
3  tournament_1  2014-01-08  2014-01-17      9        rapid   陆桂姐   郑新聪
4  tournament_1  2014-01-08  2014-01-17      9        rapid   李汶玲   叶天英

         date  result              id    White_ELO    Black_ELO    White_ELO  \
0  2014-01-08     0.5  tournament_1_1  1236.587775  1110.330075  1236.587775
1  2014-01-08     0.5  tournament_1_2  1271.590010  1187.634486  1271.590010
2  2014-01-08     0.5  tournament_1_3  1142.352471  1266.736660  1142.352471
3  2014-01-08     1.0  tournament_1_4  1247.252651  1116.404022  1247.252651
4  2014-01-08     0.5  tournament_1_5  1086.099543  1179.171668  1086.099543

     Black_ELO
0  1110.330075
1  1187.634486
2  1266.736660
3  1116.404022
4  1179.171668

In [77]:
import pandas as pd

# Assuming final_df is already created and contains data

# Define the file path where you want to save the CSV file
file_path = r'F:\jupyter\final_duplicates.csv'

# Save the DataFrame to a CSV file
final_df_duplicates.to_csv(file_path, index=False)

print(f"DataFrame has been saved to {file_path}")

DataFrame has been saved to F:\jupyter\final_duplicates.csv

In [63]:
import pandas as pd

# Example initial ELO score
initial_elo = 1200

# Create a dictionary to store ELO ratings of players, key is (name, player)
elo_ratings = {}

# Function to calculate the expected score
def expected_score(elo_a, elo_b):
    return 1 / (1 + 10**((elo_b - elo_a) / 400))

# Function to update the ELO rating
def update_elo(elo, expected, actual, k=32):
    return elo + k * (actual - expected)

# Iterate over each match in the DataFrame and update ELO scores
for _, row in final_df.iterrows():
    name = row['name']
    white_player = row['white']
    black_player = row['black']
    result = row['result']
    
    # Initialize ELO scores if players are not in the dictionary
    if (name, white_player) not in elo_ratings:
        elo_ratings[(name, white_player)] = initial_elo
    if (name, black_player) not in elo_ratings:
        elo_ratings[(name, black_player)] = initial_elo
    
    # Get current ELO ratings
    elo_white = elo_ratings[(name, white_player)]
    elo_black = elo_ratings[(name, black_player)]
    
    # Calculate expected scores
    expected_white = expected_score(elo_white, elo_black)
    expected_black = 1 - expected_white
    
    # Determine actual scores based on match result
    if result == 1.0:  # White wins
        actual_white = 1.0
        actual_black = 0.0
    elif result == 0.0:  # Black wins
        actual_white = 0.0
        actual_black = 1.0
    else:  # Draw
        actual_white = 0.5
        actual_black = 0.5
    
    # Update ELO ratings
    elo_ratings[(name, white_player)] = update_elo(elo_white, expected_white, actual_white)
    elo_ratings[(name, black_player)] = update_elo(elo_black, expected_black, actual_black)

# Convert ELO ratings to a DataFrame
elo_df = pd.DataFrame([{'name': k[0], 'Player': k[1], 'ELO': v} for k, v in elo_ratings.items()])

# Merge the ELO ratings back into the original DataFrame
final_df = final_df.merge(elo_df, left_on=['name', 'white'], right_on=['name', 'Player'], how='left')
final_df = final_df.rename(columns={'ELO': 'White_ELO'}).drop(columns=['Player'])

final_df = final_df.merge(elo_df, left_on=['name', 'black'], right_on=['name', 'Player'], how='left')
final_df = final_df.rename(columns={'ELO': 'Black_ELO'}).drop(columns=['Player'])

# Display the updated DataFrame
print(final_df.head())

           name  start_date    end_date  tours time_control white black  \
0  tournament_1  2014-01-08  2014-01-17      9        rapid   贾叶珍   范辰妮
1  tournament_1  2014-01-08  2014-01-17      9        rapid   吕亚光   李嘉爵
2  tournament_1  2014-01-08  2014-01-17      9        rapid   刘奇喜   刘晓鹏
3  tournament_1  2014-01-08  2014-01-17      9        rapid   陆桂姐   郑新聪
4  tournament_1  2014-01-08  2014-01-17      9        rapid   李汶玲   叶天英

         date  result              id    White_ELO    Black_ELO
0  2014-01-08     0.5  tournament_1_1  1236.587775  1110.330075
1  2014-01-08     0.5  tournament_1_2  1271.590010  1187.634486
2  2014-01-08     0.5  tournament_1_3  1142.352471  1266.736660
3  2014-01-08     1.0  tournament_1_4  1247.252651  1116.404022
4  2014-01-08     0.5  tournament_1_5  1086.099543  1179.171668

In [65]:
import pandas as pd

# Assuming final_df is already created and contains data

# Define the file path where you want to save the CSV file
file_path = r'F:\jupyter\final_df3.csv'

# Save the DataFrame to a CSV file
final_df.to_csv(file_path, index=False)

print(f"DataFrame has been saved to {file_path}")

DataFrame has been saved to F:\jupyter\final_df3.csv